@import '_variables';

.Front-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .name-block {
        text-transform: uppercase;
        text-align: center;
        h1,
        h3 {
            display: inline;
            margin: 0;
            font-family: $font-header-primary;
            font-weight: 100;
            font-size: 11rem;
            @media (orientation: portrait) {
                font-size: 7.4rem;
            }
        }
        h3 {
            margin-left: 2rem;
            @media (orientation: portrait) {
                margin-left: 0;
                display: block;
                font-size: 7rem;
            }
        }
        span {
            margin-top: 1rem;
            font-family: $font-header-primary;
            font-weight: 300;
            font-size: 3.5rem;
            &::after {
                content: ", ";
            }
            &:last-child::after {
                content: unset;
            }
            @media (orientation: portrait) {
                &::after {
                    content: unset;
                }
                display: block;
                font-size: 2.6rem;
            }
        }
    }
}


/**
 * Theme and colors.
 */

.Front-container {
    &.l-theme {
        background: $l-theme--grd--frontpage;
        .name-block {
            color:  $l-theme--clr--txt--frontpage;
        }
    }
    &.d-theme {
        background: $d-theme--grd--frontpage;
        .name-block {
            color:  $d-theme--clr--txt--frontpage;
        }
    }
}
