@import '_variables';

.tooltip-body {
    min-width: 10rem;
    max-width: 30rem;
    white-space: pre;

    display: inline-block;
    text-align: center;
    border-radius: 10rem;
    padding: .5rem 4rem;
    box-shadow: $l-theme--sdw--tooltip;
    font-size: 2rem;
}

.arrow-box {
    box-sizing: border-box;
    width: 2rem;
    height: 2rem;
    border: 1rem solid transparent;

    &.top, &.bottom {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

.tooltip-elements {
    // set hidden by default
    opacity: 0;
}

.Tooltip-container {
    // position the tooltip
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    top: 8.75rem;

    pointer-events: none;
}


/**
 * Theme and colors.
 */

.Tooltip-container {
    &.l-theme {
        .tooltip-body {
            background-color: $l-theme--clr--bg--tooltip;
            color: $l-theme--clr--txt--tooltip;
        }
        .arrow-box {
            &.top {
                border-bottom-color: $l-theme--clr--bg--tooltip;
            }
        }
    }
    &.d-theme {
        .tooltip-body {
            background-color: $d-theme--clr--bg--tooltip;
            color: $d-theme--clr--txt--tooltip;
        }
        .arrow-box {
            &.top {
                border-bottom-color: $d-theme--clr--bg--tooltip;
            }
        }
    }
}
