@import '_variables';

.Link-container {
    flex-basis: 50%;
    @media (orientation: portrait) {
        flex-basis: 100%;
    }
    margin: 2rem 0;
    font-size: 2.72rem;
    font-family: $font-paragraph-primary;
    svg {
      margin-bottom: -.5rem;
    }
    a {
        text-decoration: none;
        span {
            margin-left: 1rem;
            font-size: 2.4rem;
        }
    }
}


/**
 * Theme and colors.
 */

.Link-container {
    a {
        color: $l-theme--clr--txt--footer;
        &:hover {
            color: $l-theme--clr--txt--regular;
        }
    }
}
