@import "_variables";

@media (orientation: portrait) {
    .PublCard-container {
        height: 18rem;

        .frontface {
            > .card-image {
                position: absolute;
                top: 3rem; left: 2rem;
                height: 6rem;

                img {
                    height: 100%;
                    object-fit: cover;
                    clip-path: unset;
                }
            }

            > .content {
                position: absolute;
                bottom: 0; left: 0;
                padding: 0 2rem 2rem 2rem;
                height: 6.5rem;


                .title {
                    font-size: 1.8rem;
                    width: unset;
                }
            }
        }
    }       

    /**
     * Theme and colors
     */
    .PublCard-container {
        &.l-theme {
            .frontface {
                box-shadow: unset;
                border: 1px solid $l-theme--clr--card--border;
            }
        }
        &.d-theme {
            .frontface {
                box-shadow: unset;
                border: 1px solid $d-theme--clr--card--border;
            }
        }
    }
}
