@import "_variables";
@import "styles/mixins/3d";

%publ_card_face {
    @include card_face;
    transition: transform .2s ease-out;
}

.PublicationCard-container {
    position: relative;
    perspective: 150rem;
    height: 100%;

    &:nth-child(even) {
        .frontface {
            flex-direction: row-reverse;
        }
    }

    &:hover {
        & .frontface {
            transform: rotateX(180deg);
        }
        & .backface {
            transform: rotateX(0deg);
        }
    }

    .frontface {
        @extend %publ_card_face;

        display: flex;
        transition: transform .3s ease;

        &:hover {
            cursor: pointer;
        }

        > .card-image img {
            height: 100%;
            width: 25rem;
            object-fit: cover;
        }

        > .content {
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: 2rem;

            .href-icon {
                opacity: .5;
            }

            .website-str {
                font-weight: bold;
                font-style: italic;
            }

            .title, .snippet {
                display: block;
                width: 67rem;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .title {
                font-size: 2.5rem;
                font-weight: bold;
                font-family: $font-header-secondary;
            }

            .snippet {
                font-size: 2rem;
                font-family: $font-paragraph-primary;
            }
        }
    }

    .backface {
        @extend %publ_card_face;

        position: absolute;
        top: 0;
        left: 0;
        transform: rotateX(-180deg);
    }
}


/**
 * Theme colors
 */

.PublicationCard-container {
    &.l-theme {
        .frontface {
            box-shadow: 0 .2rem 2rem 0 $l-theme--sdw--publcard;
            background-color: $l-theme--clr--bg--publcard-frontface;
            > .card-image img {
                filter: $l-theme--fltr--publcard-img;
            }
        }
        .backface {
            background: $l-theme--clr--bg--publcard-backface $l-theme--grd--publcard-backface;
        }
    }
    &.d-theme {
        .frontface {
            box-shadow: 0 .2rem 2rem 0 $d-theme--sdw--publcard;
            background-color: $d-theme--clr--bg--publcard-frontface;
            > .card-image img {
                filter: $d-theme--fltr--publcard-img;
            }
        }
        .backface {
            background: $d-theme--clr--bg--publcard-backface $d-theme--grd--publcard-backface;
        }
    }
}
