@import "_variables";

%publ_card_face {
    transition: transform .2s ease-out;
}

.PublCard-container {
    height: 10rem;

    @media (orientation: landscape) {
        &:nth-child(even) {
            .frontface {
                .number-block {
                    clip-path: polygon(0% 0%, 88% 0%, 100% 100%, 0% 100%);
                }
            }
        }
        &:nth-child(odd) {
            .frontface {
                .number-block {
                    clip-path: polygon(0% 0%, 100% 0%, 88% 100%, 0% 100%);
                }
            }
        }
    }

    .frontface {
        @extend %publ_card_face;

        display: flex;
        transition: transform .3s ease;

        &:hover {
            cursor: pointer;
        }

        .number-block {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .number {
            width: 100%;
            height: 100%;
            display: block;

            font-size: 8rem;
            font-weight: bolder;
            font-family: $font-header-primary;
            padding: 1rem 5rem 0 4rem;
        }

        > .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            padding: 2rem 4rem 2rem 2rem;

            .href-icon {
                display: inline-block;
                transform: translateY(.25rem);
                opacity: .3;
            }

            .title {
                display: block;
                width: 100%;
                font-size: 2.2rem;
                font-family: $font-header-secondary;
            }
        }
    }

    .backface {
        @extend %publ_card_face;

        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
}


/**
 * Theme colors
 */

.PublCard-container {
    &.l-theme {
        .frontface {
            .number-block {
                background: $l-theme--clr--bg--publcard--image;
            }
            .number {
                color: $l-theme--clr--txt--publcard-number;
            }
        }
    }
    &.d-theme {
        .frontface {
            .number-block {
                background: $d-theme--clr--bg--publcard--image;
            }
            .number {
                color: $d-theme--clr--txt--publcard-number;
            }
        }
    }
}
