@import "_variables";

@media (orientation: portrait) {
    .PublCard-container {
        height: 18rem;

        .frontface {
            > .card-image {
                position: absolute;
                top: 2rem; left: 2rem;
                height: 8rem;

                img {
                    height: 100%;
                    width: unset;
                    object-fit: cover;
                }
            }

            > .content {
                position: absolute;
                bottom: 0; left: 0;
                padding: 0 2rem 2rem 2rem;
                height: 6.5rem;


                .title {
                    font-size: 1.8rem;
                    width: unset;
                }
            }
        }
    }       
}
