@import "_variables";

@media (orientation: portrait) {
    .PublCard-container {
        height: 12rem;

        .frontface {
            .number-block {
                position: absolute;
                top: 2.5rem; left: 2rem;
                clip-path: unset;
            }

            .number {
                font-size: 6rem;
                padding: 0;
            }

            > .content {
                position: absolute;
                top: 2.5rem; left: 8rem;
                padding: 0 2rem 2rem 2rem;
                justify-content: unset;
                height: unset;

                .title {
                    font-size: 1.8rem;
                    width: unset;
                }
            }
        }
    }

    /**
     * Theme and colors
     */
    .PublCard-container {
        &.l-theme {
            .frontface {
                .number-block {
                    background: unset;
                }
            }
        }
        &.d-theme {
            .frontface {
                .number-block {
                    background: unset;
                }
            }
        }
    }
}

