@import "_variables";

%publ_card_face {
    transition: transform .2s ease-out;
}

.PublCard-container {
    height: 10rem;

    @media (orientation: landscape) {
        &:nth-child(even) {
            .frontface {
                flex-direction: row-reverse;
                .content {
                    text-align: right;
                }
            }
        }
    }

    &:hover {
        & .frontface {
            transform: rotateX(180deg);
        }
        & .backface {
            transform: rotateX(0deg);
        }
    }

    .frontface {
        @extend %publ_card_face;

        display: flex;
        transition: transform .3s ease;

        &:hover {
            cursor: pointer;
        }

        > .card-image {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 80%;
                object-fit: cover;
            }
        }

        > .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            padding: 2rem;

            .href-icon {
                display: inline-block;
                transform: translateY(.25rem);
                opacity: .3;
            }

            .website-str {
                font-weight: bold;
                font-style: italic;
            }

            .title {
                display: block;
                width: 67rem;
            }

            .title {
                font-size: 2rem;
                font-weight: bold;
                font-family: $font-header-secondary;
            }
        }
    }

    .backface {
        @extend %publ_card_face;

        position: absolute;
        top: 0;
        left: 0;
        transform: rotateX(-180deg);
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
}


/**
 * Theme colors
 */

.PublCard-container {
    &.l-theme {
        .frontface {
            > .card-image img {
                filter: $l-theme--fltr--publcard-img;
            }
        }
    }
    &.d-theme {
        .frontface {
            > .card-image img {
                filter: $d-theme--fltr--publcard-img;
            }
        }
    }
}
