# dependencies
/node_modules
package-lock.json

# testing
/coverage

# production
/build

# vim plugin byproducts
.tern-port

# firebase
/.firebase

# scss byproducts
/src/**/*.css

# private info
# /src/content.js
# /src/docs/

# .env file
.env
