@import '_variables';

.Footer-container {
    padding: 2rem 0;

    div {
        display: flex;
        align-items: center;
        width: 96rem;
        margin: auto;
        font-family: $font-header-primary;
        font-size: 1.6rem;
        text-transform: uppercase;

        > span {
            margin-left: .5rem;
        }
    }
}


/**
 * Theme and colors.
 */
.Footer-container {
    &.l-theme {
        background-color: $l-theme--clr--bg--footer;
        div {
            color: $l-theme--clr--txt--footer;
        }
    }
    &.d-theme {
        background-color: $d-theme--clr--bg--footer;
        div {
            color: $d-theme--clr--txt--footer;
        }
    }
}
