@import '_variables';

.NavLink-container {
    transform: scale(-1);
    height: $navbar--thickness;
    padding: 0;
    margin: 0;

    &:first-child a {
        padding-right: 3.8rem;
    }

    a {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;

        list-style: none;
        outline: none;
        cursor: pointer;
        user-select: none;
        text-decoration: none;

        font-size: $navbar--thickness * .5;
        padding: 2rem;
    }

    .link-text {
        font-family: "Open Sans";
        font-size: $navbar--thickness * .42;
        margin-left: 1.5rem;
        white-space: nowrap;
    }

    .link-icon {
        margin-bottom: -0.75rem;
    }
}

.NavLink-container {
    &.l-theme {
        &:hover {
            background-color: $l-theme--clr--bg--sidebar-link;
        }
        &:active {
            background-color: $l-theme--clr--bg--sidebar-link--active;
        }
        a {
            color: $l-theme--clr--txt--sidebar;
        }
        .link-text {
            color: $l-theme--clr--txt--sidebar;
        }
    }
    &.d-theme {
        &:hover {
            background-color: $d-theme--clr--bg--sidebar-link;
        }
        &:active {
            background-color: $d-theme--clr--bg--sidebar-link--active;
        }
        a {
            color: $d-theme--clr--txt--sidebar;
        }
        .link-text {
            color: $d-theme--clr--txt--sidebar;
        }
    }
}
