.container {
    position: fixed;
    top: 0;
    left: 0;

    transition: top 1s;
}

.container.lifted {
    top: -100vh;
}

.container img {
    width: 100vw;
    height: 100vh;

    object-fit: cover;
}