.container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100vw;
    height: 100vh;
    transition: top 1s;
    background-image: url(./Cover-BG.jpg);
    /* background: linear-gradient(to top, rgba(47,54,64,0.95), rgba(72,126,176,0.68)); */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container.lifted {
    top: -100vh;
}

@font-face {
    font-family: 'Cover Header';
    src: url(../../fonts/engebrechtrebd.ttf) format('truetype');
}

@font-face {
    font-family: 'Paragraph';
    src: url(../../fonts/dustismo.ttf) format('truetype');
}

.title {
    text-align: center;
    color: white;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 40px;
}

.title h1 {
    font-family: 'Cover Header', sans-serif;
    font-weight: 300;
    font-size: 4em;
    margin: 0;
}

.title p {
    font-family: 'Paragraph', sans-serif;
    font-weight: 300;
    margin: 0;
}