.SkillCard-container {
    position: relative;

    img {
        height: 100%;
        filter: grayscale(100%);
        transition: filter .15s;

        &:hover {
            filter: grayscale(0%);
        }
    }

    &:hover {
        .tooltip-elements {
            opacity: 1;
        }
    }

    &.two-cell {
        grid-column: auto / span 2;
    }
}
