@import "_variables";

$grid--cell-size: 6rem;

@media(orientation: portrait) {
    .skills-view {
        grid-template-columns: repeat(6, $grid--cell-size);
        grid-template-rows: $grid--cell-size;
        grid-auto-rows: $grid--cell-size;
        grid-gap: 1.5rem 1rem;
    }
}
