@import "_variables";

.Card-container {
    position: relative;
    perspective: 150rem;

    &.noflip {
        .backface {
            display: none;
        }
    }

    /**
     * Rotation: bottom to up
     */
    &.flip-direction--btu {
        .backface {
            transform: rotateX(-180deg);
        }
        &.flipped {
            .backface {
                transform: rotateX(0deg);
            }
            .frontface {
                transform: rotateX(180deg);
            }
        }
    }

    /**
     * Rotation: right-to-left
     */
    &.flip-direction--rtl {
        .backface {
            transform: rotateY(-180deg);
        }
        &.flipped {
            .backface {
                transform: rotateY(0deg);
            }
            .frontface {
                transform: rotateY(180deg);
            }
        }
    }
}
