@import "_variables";

.NavButton-container {
    width: 100%;

    button {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: $navbar--thickness;

        border-radius: 25rem;
        background: transparent;
        font-size: 3rem;

        cursor: pointer;
        outline: none;
        border: none;
        margin: 0;
        padding: 0;
    }
}

/**
 * Theme and colors
 */

.NavButton-container {
    &.l-theme {
        button {
            color: $l-theme--clr--txt--sidebar;
            &:hover {
                background-color: $l-theme--clr--bg--sidebar-link;
            }
            &:active {
                background-color: $l-theme--clr--bg--sidebar-link--active;
            }
        }
    }
    &.d-theme {
        button {
            color: $d-theme--clr--txt--sidebar;
            &:hover {
                background-color: $d-theme--clr--bg--sidebar-link;
            }
            &:active {
                background-color: $d-theme--clr--bg--sidebar-link--active;
            }
        }
    }
}
