@import '_variables';

.Separator-container {
    justify-self: center;
    display: flex;
    justify-content: center;
    position: relative;
    @media (orientation: portrait) {
      display: none;
    }
    .stick {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        border-left: .4rem solid;
        @media (orientation: portrait) {
            border-left: .2rem solid;
        }
        &.stick-start {
            height: 50% !important;
            top: 50% !important;
        }
        &.stick-end {
            height: 50% !important;
        }
        &.stick-hidden {
            visibility: hidden;
        }
    }
    .circle {
        position: relative;
        align-self: center;
        width: 2rem;
        height: 2rem;
        @media (orientation: portrait) {
            width: 1.5rem;
            height: 1.5rem;
        }
        border: .3rem solid;
        border-radius: 100%;
    }
}


/**
 * Theme and colors.
 */

.Separator-container {
    &.l-theme {
        .stick {
            border-left-color: $l-theme--clr--brdr--wexpcard-stick;
        }
        .circle {
            border-color: $l-theme--clr--brdr--wexpcard-circle;
            background-color: $l-theme--clr--bg--wexpcard-circle;
        }
    }
    &.d-theme {
        .stick {
            border-left-color: $d-theme--clr--brdr--wexpcard-stick;
        }
        .circle {
            border-color: $d-theme--clr--brdr--wexpcard-circle;
            background-color: $d-theme--clr--bg--wexpcard-circle;
        }
    }
}
