@import "_variables";

@media (orientation: portrait) {
    .Layout-content {
        margin: 0;
        // to position footer in 'absolute' mode
        position: relative;

        .regular-text {
            margin: 4rem 1rem;
            font-size: 1.8rem;
        }

        .content-body {
            padding: 16rem 0 60rem 0;

            > *:first-child {
                padding-top: 0;
            }
            > *:last-child {
                padding-bottom: 0;
            }
        }
        
        .view-more-row {
            padding-bottom: 0;

            .BigButton-container {
                button {
                    width: 35rem;
                }
            }
        }
    }
}
