@import '_variables';
.Layout-background * {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -5;
    object-fit: cover;
}

.Layout-content {
    margin: 0 0 0 5rem;

    .view-more-row {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        margin-top: 4rem;

        .BigButton-container button {
            width: 50rem;
        }
    }

    .regular-text {
        display: block;
        text-align: justify;
        font-size: 2rem;
        font-family: $font-paragraph-primary;
        margin: 5rem 1rem;
    }

    .projcard-view {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2.5rem;
        grid-row-gap: 6rem;
        justify-items: center;
        align-items: center;

        &.horizontal {
            grid-template-columns: 1fr;
        }

        & + .projcard-view {
            margin-top: 2.5rem;
        }
    }

    .wexpcard-view {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2.5rem;
    }

    .skills-view {
        display: grid;
        grid-template-columns: repeat(10, 8.75rem);
        grid-template-rows: 8.75rem;
        grid-auto-rows: 8.75rem;
        grid-gap: 2.5rem 1rem;
        justify-items: center;
    }

    .publcard-view {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2.5rem;
    }

    .contact-view {
        display: flex;
        flex-wrap: wrap;
    }

    .footer {
        padding: 2rem 0;

        div {
            display: flex;
            align-items: center;
            width: 96rem;
            margin: auto;
            font-family: $font-header-primary;
            font-size: 1.6rem;
            text-transform: uppercase;

            > span {
                margin-left: .5rem;
            }
        }
    }
}


/**
 * Theme and colors.
 */

.Layout-content {
    &.l-theme {
        .footer {
            background-color: $l-theme--clr--bg--footer;
            div {
                color: $l-theme--clr--txt--footer;
            }
        }
    }
    &.d-theme {
        .footer {
            background-color: $d-theme--clr--bg--footer;
            div {
                color: $d-theme--clr--txt--footer;
            }
        }
    }
}
