@import "_variables";

@media (orientation: portrait) {
    .Layout-content {
        margin: 0;
        // create new stacking and block formatting contexts
        position: relative;
        z-index: 5;

        .regular-text {
            margin: 4rem 1rem;
            font-size: 1.8rem;
        }

        .content-body {
            padding: 16rem 0 55rem 0;
            position: relative;
            z-index: 5;

            > *:first-child {
                padding-top: 0;
            }
            > *:last-child {
                padding-bottom: 0;
            }
        }
        
        .view-more-row {
            padding-bottom: 0;

            .BigButton-container {
                button {
                    width: 35rem;
                }
            }
        }
    }

    /**
     * Theme and colors
     */

    .Layout-content {
        &.l-theme {
            .content-body {
                background: unset;
            }
        }
    }
}
