@import '_variables';

.Layout-content {
    // compensate for navbar by shifting content right
    margin: 0 0 0 5rem;

    .view-more-row {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        margin-top: 4rem;

        .BigButton-container button {
            width: 50rem;
        }
    }

    .regular-text {
        display: block;
        text-align: justify;
        font-size: 2rem;
        font-family: $font-paragraph-primary;
        margin: 5rem 1rem;
    }
}
