@import '_variables';

.Layout-content {
    // compensate for navbar by shifting content right
    margin: 0 0 0 5rem;

    .view-more-row {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        margin-top: 4rem;

        .BigButton-container button {
            width: 50rem;
        }
    }

    .regular-text {
        display: block;
        text-align: justify;
        font-size: 2.5rem;
        font-family: $font-paragraph-primary;
        margin: 5rem 1rem;
    }

    .content-body {
        >*:first-child {
            padding-top: $section--padding--top;
        }
        >*:last-child {
            padding-bottom: $section--padding--top;
        }
    }
}

.Layout-content {
    &.l-theme {
        .content-body {
            background: $l-theme--clr--bg--section;
        }
    }
    &.d-theme {
        .content-body {
            background: $d-theme--clr--bg--section;
        }
    }
}
