@import "_variables";

@media (orientation: portrait) {
    .Layout-content {
        margin: 0;

        .regular-text {
            font-size: 1.8rem;
        }

        .content-body {
            >*:first-child {
                padding-top: 0;
            }
            >*:last-child {
                padding-bottom: 0;
            }
        }
    }
}
