@import "_variables";

@media (orientation: portrait) {
    .Section-container {
        padding: 0 2rem;

        &.card-style {
            width: 92%;
            margin: 3rem 2rem;
            border-radius: 1rem;
        }

        > .content {
            width: 100%;
            padding: 5rem 0;
        }

        h1 {
            font-size: 5rem;
            margin: 0 1rem 0 1rem;
        }
    }

    /**
     * Theme and colors
     */
    .Section-container {
        &.card-style {
            &.l-theme {
                box-shadow: $l-theme--sdw--section;
            }
            &.d-theme {
                box-shadow: $d-theme--sdw--section;
            }
        }
    }
}
