.Layout-content {
    margin: 0 0 0 50px;
}

div.Layout-content-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -5;
    background-image: url(./mountains.jpg);
    background-size: cover;
}

.Layout-card-view {
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    justify-items: center;
    align-items: center;
}