@import 'variables';

.Layout-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -5;
    background-image: $background;
    background-size: cover;
}

.Layout-content {
    margin: 0 0 0 5rem;
    .card-view {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2.5rem;
        grid-row-gap: 6rem;
        justify-items: center;
        align-items: center;
    }
    .contact-view {
        display: flex;
        flex-wrap: wrap;
    }
    .about-view {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 6rem;
        .item {
            span {
                font-family: $font-paragraph-primary;
                font-size: 2.24rem;
                &:first-child {
                    color: $color-accent-primary;
                    font-size: 2.56rem;
                }
            }
        }
    }
    .footer {
        padding: 2rem 0;
        background-color: $color-accent-secondary;
        div {
            display: flex;
            align-items: center;
            width: 96rem;
            margin: auto;
            color: $color-primary-white;
            font-family: $font-header-primary;
            font-size: 1.6rem;
            text-transform: uppercase;
            >span {
                margin-left: .5rem;
            }
        }
    }
}