@import 'variables';
.Layout-background * {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -5;
    object-fit: cover;
}

.Layout-content {
    margin: 0 0 0 5rem;
    @media (orientation: portrait) {
        margin: 0;
        overflow: hidden;
    }
    .about-view {
        display: grid;
        grid-template-columns: 1fr;
        @media (orientation: portrait) {
            padding: 0 2rem;
        }
        grid-row-gap: 2rem;
        margin-bottom: 6rem;
        p {
            margin: 0;
        }
        .item {
            span {
                font-family: $font-paragraph-primary;
                font-size: 2.24rem;
                &.header {
                    color: $color-accent-primary;
                    font-size: 2.56rem;
                }
            }
        }
    }
    .card-view {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        @media (orientation: portrait) {
            padding: 0 2rem;
            grid-template-columns: unset;
        }
        grid-column-gap: 2.5rem;
        grid-row-gap: 6rem;
        justify-items: center;
        align-items: center;
    }
    .wexp-view {
        @media (orientation: portrait) {
            padding: 0 2rem;
        }
    }
    .skills-view {
        display: grid;
        grid-template-columns: repeat(10, 8.75rem);
        grid-template-rows: 8.75rem;
        grid-auto-rows: 8.75rem;
        grid-gap: 2.5rem 1rem;
        justify-items: center;
    }
    .contact-view {
        display: flex;
        flex-wrap: wrap;
        @media (orientation: portrait) {
            padding: 0 2rem;
        }
    }
    .footer {
        padding: 2rem 0;
        background-color: $color-accent-secondary;
        div {
            display: flex;
            align-items: center;
            width: 96rem;
            @media (orientation: portrait) {
                width: 100%;
                padding-left: 2rem;
            }
            margin: auto;
            color: $color-primary-white;
            font-family: $font-header-primary;
            font-size: 1.6rem;
            text-transform: uppercase;
            >span {
                margin-left: .5rem;
            }
        }
    }
}
