.Layout-content {
    margin: 0 0 0 50px;
}

.Layout-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -5;
    background-image: url(../../images/mountains.jpg);
    background-size: cover;
}

.Layout-card-view {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    justify-items: center;
    align-items: center;
}

.Layout-contact-view {
    display: flex;
    flex-wrap: wrap;
}

.Layout-about-view {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 60px;
}

.Layout-about-item > span {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
}

.Layout-about-item > span:first-child {
    color: #40739e;
    font-size: 1.6em;
}

.Layout-footer {
    padding: 20px 0;
    background-color: #40739e;
}

.Layout-footer > div {
    display: flex;
    align-items: center;
    width: 960px;
    margin: auto;
    color: #eee;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

.Layout-footer > div > span {
    margin-left: 5px;
}