.Layout-content {
    margin: 0 0 0 50px;
}

.Layout-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -5;
    background-image: url(./mountains.jpg);
    background-size: cover;
}

.Layout-card-view {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    justify-items: center;
    align-items: center;
}