.Card-container {
    width: 470px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.15);
}

.Card-container > a {
    display: block;
}

.Card-container > a > img {
    min-height: 250px;
    max-height: 250px;
    width: 100%;
    object-fit: cover;
}

.Card-content {
    padding: 45px;
}

.Card-content > h3 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.Card-content > span {
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin-top: 20px;
}

.Card-tags {
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
}

.Card-tag {
    display: inline-block;
    background-color: #487eb0;
    color: white;
    padding: 2px 15px;
    margin-right: 10px;
}