@import 'variables';

.Front-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $gradient-front-page;
    .name-block {
        color: $color-primary-white;
        text-transform: uppercase;
        text-align: center;
        h1 {
            margin: 0;
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 100;
            font-size: 20rem;
        }
        span {
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 300;
            font-size: 2.72rem;
        }
    }
}