@import 'variables';

.Separator-container {
    justify-self: center;
    display: flex;
    justify-content: center;
    position: relative;
    .stick {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        border-left: .4rem solid $color-primary-dark;
        @media (orientation: portrait) {
            border-width: .2rem;
        }
        &.stick-start {
            height: 50% !important;
            top: 50% !important;
        }
        &.stick-end {
            height: 50% !important;
        }
        &.stick-hidden {
            visibility: hidden;
        }
    }
    .circle {
        position: relative;
        align-self: center;
        width: 2rem;
        height: 2rem;
        @media (orientation: portrait) {
            width: 1.5rem;
            height: 1.5rem;
        }
        border: .3rem solid $color-primary-dark;
        border-radius: 100%;
        background-color: $color-primary-white;
    }
}