@import './separator';
@import 'variables';

.ExpCard-container {
    display: grid;
    grid-template-columns: 0.45fr 0.1fr 0.95fr;
    @media (orientation: portrait) {
      grid-template-columns: 1fr;
    }
    grid-template-rows: 20rem;
    img {
        width: 40%;
        @media (orientation: portrait) {
            // width: 60%;
            display: none;
        }
        justify-self: end;
        align-self: center;
    }
    .text {
        align-self: center;
        @media (orientation: portrait) {
            margin-left: .5rem;
        }
        %header {
            font-family: $font-header-secondary;
            margin: 0;
        }
        h2 {
            @extend %header;
            font-size: 3.2rem;
        }
        h3 {
            @extend %header;
            font-size: 2rem;
        }
        h4 {
            @extend %header;
            font-size: 1.6rem;
            color: $color-accent-primary;
        }
    }
}
