.ExpCard-container {
    display: grid;
    grid-template-columns: 0.95fr 0.1fr 0.95fr;
    grid-template-rows: 200px;
}

.ExpCard-image {
    width: 60%;
    justify-self: end;
    align-self: center;
}

.ExpCard-text {
    align-self: center;
}

.ExpCard-text > h2, .ExpCard-text > h3 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.ExpCard-text > h2 {
    font-size: 2em;
}

.ExpCard-text > h4 {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    color: #40739e;
}

.Separator-container {
    justify-self: center;
    display: flex;
    justify-content: center;
}

.Separator-stick {
    position: relative;
    left: 52%;
    width: 3px;
    height: 100%;
    background-color: #212121;
}

.Separator-stick-start {
    height: 50% !important;
    top: 50% !important;
}

.Separator-stick-end {
    height: 50% !important;
}

.Separator-stick-hidden {
    visibility: hidden;
}

.Separator-circle {
    position: relative;
    align-self: center;
    width: 10px;
    height: 10px;
    border: 3px solid #212121;
    border-radius: 100%;
    background-color: #eee;
}