@import '_variables';

$card-height: 15rem;

%exp_card_face {
    transition: transform .3s ease-out;
}

.WexpCard-container:nth-child(even) {
    .frontface .colored-chunk {
        clip-path: polygon(0% 0%, 100% 0%, 88% 100%, 0% 100%);
    }
}

.WexpCard-container:nth-child(odd) {
    .frontface .colored-chunk {
        clip-path: polygon(0% 0%, 88% 0%, 100% 100%, 0% 100%);
    }
}

.WexpCard-container {
    .frontface {
        @extend %exp_card_face;

        display: grid;
        grid-template-columns: 0.35fr 0.15fr 0.95fr;
        grid-template-rows: $card-height;
        grid-column-gap: 4rem;

        .colored-block {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .colored-chunk {
            position: absolute;
            top: 0; left: 0;
            height: 100%;
            width: 100%;
        }

        .number-base {
            width: 100%;
            height: 10rem;
            border-radius: 20rem;
            z-index: 10;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        .number {
            font-size: 8rem;
            font-weight: bolder;
            font-family: $font-header-primary;
            margin-top: 2rem;
        }

        img {
            width: 100%;
            justify-self: end;
            align-self: center;
        }

        .text {
            align-self: center;
            display: flex;
            flex-direction: column;

            %header {
                font-family: $font-header-secondary;
                margin: 0;
            }

            .title {
                @extend %header;
                font-size: 3.2rem;
                margin: .5rem 0;
            }
            .subtitle {
                @extend %header;
                font-size: 2rem;
            }
            .date {
                @extend %header;
                font-size: 1.6rem;
                letter-spacing: .2rem;
                text-transform: uppercase;
            }
        }
    }
    
    .backface {
        @extend %exp_card_face;

        position: absolute;
        top: 0; left: 0;

        display: flex;
        width: 100%;
        height: $card-height;
        justify-content: center;
        align-items: center;
    }
}


/**
 * Theme and colors.
 */
.WexpCard-container {
    &.l-theme {
        .text {
            .date {
                color: $l-theme--clr--txt--expcard-date;
            }
        }
        .colored-chunk {
            background-color: $l-theme--clr--bg--expcard-clchunk;
        }
        .number {
            color: $l-theme--clr--txt--expcard-number;
        }
    }
    &.d-theme {
        .text {
            .date {
                color: $d-theme--clr--txt--expcard-date;
            }
        }
        .colored-chunk {
            background-color: $d-theme--clr--bg--expcard-clchunk;
        }
        .number {
            color: $d-theme--clr--txt--expcard-number;
        }
    }
}
