@import '_variables';
@import 'styles/mixins/3d';

$card-height: 15rem;

%wexp_card_face {
    @include card_face;
    transition: transform .3s ease-out;
    box-shadow: $l-theme--sdw--wexpcard;
}

.WexpCard-container:nth-child(even) {
    .frontface .colored-chunk {
        clip-path: polygon(0% 0%, 88% 0%, 100% 100%, 0% 100%);
    }
}

.WexpCard-container:nth-child(odd) {
    .frontface .colored-chunk {
        clip-path: polygon(0% 0%, 100% 0%, 88% 100%, 0% 100%);
    }
}

.WexpCard-container {
    position: relative;
    perspective: 150rem;

    &:hover {
        & .frontface {
            transform: rotateX(180deg);
        }
        & .backface {
            transform: rotateX(0deg);
        }
    }

    .frontface {
        @extend %wexp_card_face;

        display: grid;
        grid-template-columns: 0.35fr 0.15fr 0.95fr;
        grid-template-rows: $card-height;
        grid-column-gap: 4rem;

        img {
            width: 100%;
            justify-self: end;
            align-self: center;
        }

        .text {
            align-self: center;
            %header {
                font-family: $font-header-secondary;
                margin: 0;
            }
            h2 {
                @extend %header;
                font-size: 3.2rem;
            }
            h3 {
                @extend %header;
                font-size: 2rem;
            }
            h4 {
                @extend %header;
                font-size: 1.6rem;
            }
        }
    }
    
    .backface {
        @extend %wexp_card_face;

        position: absolute;
        top: 0; left: 0;
        transform: rotateX(-180deg);

        display: flex;
        width: 100%;
        height: $card-height;
        justify-content: center;
        align-items: center;
    }
}


/**
 * Theme and colors.
 */
.WexpCard-container {
    &.l-theme {
        .frontface {
            background-color: $l-theme--clr--bg--wexpcard-frontface;
        }
        .backface {
            background: $l-theme--clr--bg--wexpcard-backface $l-theme--grd--wexpcard-backface;
        }
        .text {
            h4 {
                color: $l-theme--clr--txt--accent;
            }
        }
        .colored-chunk {
            background-color: $l-theme--clr--bg--clchunk;
        }
    }
    &.d-theme {
        .frontface {
            background-color: $d-theme--clr--bg--wexpcard-frontface;
        }
        .backface {
            background: $d-theme--clr--bg--wexpcard-backface $d-theme--grd--wexpcard-backface;
        }
        .text {
            h4 {
                color: $d-theme--clr--txt--accent;
            }
        }
        .colored-chunk {
            background-color: $d-theme--clr--bg--clchunk;
        }
    }
}
