@import '_variables';

$card-height: 9rem;

@media (orientation: portrait) {
    .WexpCard-container {
        .frontface {
            position: relative;
            display: block;
            padding-left: 1.5rem;
            height: 22rem;

            &.taller-2 {
                height: 25rem;
            }

            .colored-chunk {
                display: none;
            }

            .colored-block {
                position: absolute;
                top: 1rem; left: 7rem;
                transform: translateX(-50%);
            }

            img {
                position: absolute;
                top: 2.25rem; right: 4rem;
                height: 10rem;
                width: unset;
            }

            .text {
                flex-direction: column-reverse;
                position: absolute;
                bottom: 2.5rem; left: 2rem;

                .title {
                    font-size: 2.3rem;
                    margin: 0 0 .5rem 0;
                }
                .subtitle {
                    font-size: 1.8rem;
                    line-height: 2.6rem;
                }
                .date {
                    font-size: 1.3rem;
                }
            }
        }
    }

    /**
     * Theme and colors.
     */
    .WexpCard-container {
        &.l-theme {
            .text {
                .date {
                    color: black;
                }
            }
        }
        &.d-theme {
            .text {
                .date {
                    color: white;
                }
            }
        }
    }
}
