@import '_variables';

$card-height: 9rem;

@media (orientation: portrait) {
    .WexpCard-container {
        .frontface {
            grid-template-columns: 0.2fr 0.95fr;
            grid-template-rows: $card-height;
            grid-column-gap: 1rem;
            padding-left: 1.5rem;

            .colored-block {
                display: none;
            }

            .text {
                h2 {
                    font-size: 2rem;
                    margin: .5rem 0;
                }
                h3 {
                    font-size: 1.3rem;
                }
                h4 {
                    font-size: 1rem;
                }
            }
        }
    }
}
