$d-theme--clr--txt--headline: #212121;
$d-theme--clr--txt--regular: #212121;
$d-theme--clr--txt--accent: #487eb0;
$d-theme--clr--txt--frontpage: white;
$d-theme--clr--txt--footer: white;
$d-theme--clr--txt--tooltip: white;
$d-theme--clr--txt--projcard-tag: #313131;
$d-theme--clr--txt--projcard-hint: #313131;
$d-theme--clr--txt--sidebar: white;

$d-theme--clr--bg--sidebar: #212121;
$d-theme--clr--bg--sidebar-link: #313131;
$d-theme--clr--bg--tooltip: #212121;
$d-theme--clr--bg--section: white;
$d-theme--clr--bg--footer: #40739e;
$d-theme--clr--bg--accent: #487eb0;
$d-theme--clr--bg--projcard-backface: #212121;
$d-theme--clr--bg--projcard-backface-link: white;
$d-theme--clr--bg--projcard-tag: #e5e5e5;
$d-theme--clr--bg--wexpcard-circle: rgba(black, .65);

$d-theme--grd--projcard-backface: linear-gradient(to bottom right, #999, #444);
$d-theme--grd--frontpage: linear-gradient(to top, rgba(47, 54, 64, 0.95), rgba(72, 126, 176, 0.68));
$d-theme--grd--section: linear-gradient(to top, #F5F5F5, transparent);

$d-theme--sdw--mbl--menu-box: 0px 4px 15px 0px rgba(0,0,0,0.5);
$d-theme--sdw--projcard: rgba(0, 0, 0, 0.15);
$d-theme--sdw--tooltip: 0px 4px 15px 0px rgba(0,0,0,0.75);
