$d-theme--clr--txt--headline: white;
$d-theme--clr--txt--regular: white;
$d-theme--clr--txt--accent: white;
$d-theme--clr--txt--on-accent: white;
$d-theme--clr--txt--frontpage: white;
$d-theme--clr--txt--footer: white;
$d-theme--clr--txt--tooltip: white;
$d-theme--clr--txt--bigbutton: white;
$d-theme--clr--txt--projcard-tag: white;
$d-theme--clr--txt--projcard-hint: rgba(white, .8);
$d-theme--clr--txt--sidebar: white;
$d-theme--clr--txt--wexpcard-number: rgba(white, .3);

$d-theme--clr--bg--sidebar: #212121;
$d-theme--clr--bg--sidebar-link: #313131;
$d-theme--clr--bg--tooltip: #212121;
$d-theme--clr--bg--section: #353535;
$d-theme--clr--bg--footer: #353535;
$d-theme--clr--bg--accent: lighten($d-theme--clr--bg--footer, 4);
$d-theme--clr--bg--projcard-backface: #212121;
$d-theme--clr--bg--publcard-backface: #212121;
$d-theme--clr--bg--wexpcard-backface: #212121;
$d-theme--clr--bg--bigbutton: lighten($d-theme--clr--bg--section, 7);
$d-theme--clr--bg--bigbutton-ripple: lighten($d-theme--clr--bg--section, 7);
$d-theme--clr--bg--projcard-frontface: lighten($d-theme--clr--bg--section, 7);
$d-theme--clr--bg--projcard-tag: lighten($d-theme--clr--bg--projcard-frontface, 10);
$d-theme--clr--bg--publcard-frontface: lighten($d-theme--clr--bg--section, 7);
$d-theme--clr--bg--wexpcard-frontface: lighten($d-theme--clr--bg--section, 7);
$d-theme--clr--bg--wexpcard-circle: $d-theme--clr--bg--section;
$d-theme--clr--bg--wexpcard-clchunk: lighten($d-theme--clr--bg--wexpcard-frontface, 2.5);
$d-theme--clr--bg--wexpcard-number-disk: unset; // lighten($d-theme--clr--bg--wexpcard-clchunk, 7.5);

$d-theme--clr--brdr--wexpcard-circle: rgba(white, .6);
$d-theme--clr--brdr--wexpcard-stick: rgba(white, .6);

$d-theme--grd--projcard-backface: linear-gradient(
    to bottom right,
    lighten($d-theme--clr--bg--projcard-backface, 20),
    lighten($d-theme--clr--bg--projcard-backface, 12)
);
$d-theme--grd--publcard-backface: linear-gradient(
    to bottom right,
    lighten($d-theme--clr--bg--publcard-backface, 20),
    lighten($d-theme--clr--bg--publcard-backface, 12)
);
$d-theme--grd--wexpcard-backface: linear-gradient(
    to bottom right,
    lighten($d-theme--clr--bg--wexpcard-backface, 20),
    lighten($d-theme--clr--bg--wexpcard-backface, 12)
);
$d-theme--grd--frontpage: linear-gradient(to top, rgba(47, 54, 64, 0.95), rgba(72, 126, 176, 0.68));
$d-theme--grd--section: transparent;

$d-theme--sdw--mbl--menu-box: 0px 4px 15px 0px rgba(0,0,0,0.5);
$d-theme--sdw--projcard: 0 .2rem 2rem 0 rgba(0, 0, 0, 0.15);
$d-theme--sdw--publcard: 0 .2rem 2rem 0 rgba(0, 0, 0, 0.15);
$d-theme--sdw--wexpcard: 0 .2rem 2rem 0 rgba(0, 0, 0, 0.15);
$d-theme--sdw--tooltip: 0px 4px 15px 0px rgba(0,0,0,0.75);
$d-theme--sdw--bigbutton--initial: 0 .5rem 1rem rgba(0, 0, 0, .15);
$d-theme--sdw--bigbutton--onhover: 0 1rem 2rem rgba(0, 0, 0, .2);
$d-theme--sdw--bigbutton--pressed: 0 .5rem 1rem rgba(0, 0, 0, .2);
$d-theme--sdw--wexpcard-number-disk: unset; // 0 .5rem 1rem 0 rgba(black, .125);

$d-theme--fltr--publcard-img: invert(100%) contrast(50%) brightness(110%) grayscale(100%);

$d-theme--prop--skillcard-opacity: 0.5;
