$l-theme--clr--txt--headline: #212121;
$l-theme--clr--txt--regular: #212121;
$l-theme--clr--txt--accent: #487eb0;
$l-theme--clr--txt--on-accent: white;
$l-theme--clr--txt--frontpage: white;
$l-theme--clr--txt--footer: white;
$l-theme--clr--txt--tooltip: white;
$l-theme--clr--txt--bigbutton: #212121;
$l-theme--clr--txt--projcard-tag: #313131;
$l-theme--clr--txt--projcard-hint: rgba(white, .8);
$l-theme--clr--txt--sidebar: white;
$l-theme--clr--txt--wexpcard-number: rgba(black, .2);
$l-theme--clr--txt--wexpcard-date: rgba(black, .5);

$l-theme--clr--bg--sidebar: #212121;
$l-theme--clr--bg--sidebar-link: #353535;
$l-theme--clr--bg--sidebar-link--active: darken($l-theme--clr--bg--sidebar-link, 3);
$l-theme--clr--bg--tooltip: #212121;
$l-theme--clr--bg--section: white;
$l-theme--clr--bg--footer: #40739e;
$l-theme--clr--bg--accent: lighten($l-theme--clr--bg--footer, 4);
$l-theme--clr--bg--projcard-backface: #212121;
$l-theme--clr--bg--publcard-backface: #212121;
$l-theme--clr--bg--wexpcard-backface: #212121;
$l-theme--clr--bg--bigbutton: white;
$l-theme--clr--bg--bigbutton-ripple: white;
$l-theme--clr--bg--projcard-frontface: lighten($l-theme--clr--bg--section, 5);
$l-theme--clr--bg--projcard-tag: darken($l-theme--clr--bg--projcard-frontface, 10);
$l-theme--clr--bg--publcard-frontface: lighten($l-theme--clr--bg--section, 7);
$l-theme--clr--bg--wexpcard-frontface: lighten($l-theme--clr--bg--section, 7);
$l-theme--clr--bg--wexpcard-circle: white;
$l-theme--clr--bg--wexpcard-clchunk: darken($l-theme--clr--bg--wexpcard-frontface, 3);
$l-theme--clr--bg--wexpcard-number-disk: unset; // white;

$l-theme--clr--brdr--wexpcard-circle: rgba(black, .85);
$l-theme--clr--brdr--wexpcard-stick: rgba(black, .65);

$l-theme--grd--section: transparent;
$l-theme--grd--projcard-backface: linear-gradient(
    to bottom right,
    lighten($l-theme--clr--bg--projcard-backface, 35),
    lighten($l-theme--clr--bg--projcard-backface, 15)
);
$l-theme--grd--publcard-backface: linear-gradient(
    to bottom right,
    lighten($l-theme--clr--bg--publcard-backface, 35),
    lighten($l-theme--clr--bg--publcard-backface, 15)
);
$l-theme--grd--wexpcard-backface: linear-gradient(
    to bottom right,
    lighten($l-theme--clr--bg--wexpcard-backface, 35),
    lighten($l-theme--clr--bg--wexpcard-backface, 15)
);
$l-theme--grd--frontpage: linear-gradient(
    to top,
    rgba(47, 54, 64, 0.95),
    rgba(72, 126, 176, 0.68)
);
$l-theme--grd--header-blend: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
);


$l-theme--sdw--generic--card: 0 .2rem 2rem 0 rgba(0, 0, 0, 0.15);
$l-theme--sdw--projcard: $l-theme--sdw--generic--card;
$l-theme--sdw--publcard: $l-theme--sdw--generic--card;
$l-theme--sdw--wexpcard: $l-theme--sdw--generic--card;
$l-theme--sdw--tooltip: 0 .4rem 1.5rem 0 rgba(0,0,0,0.75);
$l-theme--sdw--bigbutton--initial: 0 .5rem 1rem rgba(0, 0, 0, .15);
$l-theme--sdw--bigbutton--onhover: 0 1rem 2rem rgba(0, 0, 0, .2);
$l-theme--sdw--bigbutton--pressed: 0 .5rem 1rem rgba(0, 0, 0, .2);
$l-theme--sdw--section: 0 .22rem 1.2rem rgba(32, 33, 36, 0.28);

$l-theme--border--card-frontface: 1px solid #DFE1E5;
$l-theme--border--big-button--flat: 1px solid #DFE1E5;

$l-theme--fltr--publcard-img: contrast(50%) brightness(160%) grayscale(100%);
$l-theme--prop--skillcard-opacity: 0.5;
