.list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 20%;
}

.list a {
    color: white;
    font-size: 2em;
}

.list li {
    padding: 0 0.5vw;
}

.list .active {
    background: orange;
}