@import "_variables";

.SkillCard-container {
    position: relative;
    display: flex;
    justify-items: center;
    align-items: center;

    img.skill-img {
        height: 100%;
        filter: grayscale(100%);
        &:hover {
            filter: grayscale(0);
            opacity: 1;
        }
    }

    &:hover {
        .tooltip-elements {
            opacity: 1;
        }
    }

    &.two-cell {
        grid-column: auto / span 2;
    }

    &.three-cell {
        grid-column: auto / span 3;
    }

    &.four-cell {
        grid-column: auto / span 4;
    }
}

/**
 * Theme and colors
 */

.SkillCard-container {
    &.l-theme {
        img {
            opacity: $l-theme--prop--skillcard-opacity;
        }
    }
    &.d-theme {
        img {
            opacity: $d-theme--prop--skillcard-opacity;
        }
    }
}
