@import '_variables';

.Header-background img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    object-fit: cover;
}

.Header-container {
    // create a stacking context
    position: relative;
    z-index: 0;

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .shadow-gradient {
        position: absolute;
        z-index: -5;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
    }

    .blending-gradient {
        display: none;
    }

    .name-block {
        text-transform: uppercase;
        text-align: center;
        h1,
        h3 {
            display: inline;
            margin: 0;
            font-family: $font-header-primary;
            font-weight: 100;
            font-size: 11rem;
        }
        h3 {
            margin-left: 2rem;
        }
        span {
            margin-top: 1rem;
            font-family: $font-header-primary;
            font-weight: 300;
            font-size: 3.5rem;
            &::after {
                content: ", ";
            }
            &:last-child::after {
                content: unset;
            }
        }
    }
}


/**
 * Theme and colors.
 */
.Header-container {
    &.l-theme {
        .shadow-gradient {
            background: $l-theme--grd--frontpage;
        }
        .name-block {
            color:  $l-theme--clr--txt--frontpage;
        }
    }
    &.d-theme {
        .shadow-gradient {
            background: $d-theme--grd--frontpage;
        }
        .name-block {
            color:  $d-theme--clr--txt--frontpage;
        }
    }
}
