@import '_variables';

.NavBar-container.hidden {
  @media(orientation: portrait) {
    opacity: 0;
    pointer-events: none;
  }
}

.NavBar-container {
    position: fixed;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 6.5rem;
    height: 100vh;
    z-index: 50;

    ul#sidebar-buttons {
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none;
    }

    @media (orientation: landscape) {
      border-right: 0.3rem solid;

      // on desktop rotate the sidebar buttons vertically
      ul#sidebar-buttons {
        transform: rotate(90deg);
        position: relative;
        top: 0;
      }
    }

    ul#sidebar-buttons-btm {
      height: 9.25rem;
      width: 100%;
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none;

      li.sidebar-button {
        width: 100%;
      }

      button {
        width: 100%;
        height: 100%;
        padding-bottom: 10rem;

        background: transparent;
        font-size: 3rem;

        cursor: pointer;
        outline: none;
        border: none;
        margin: 0;
        padding: 0;
      }
    }

    @media (orientation: portrait) {
      border-bottom: 0.3rem solid;
      transition: opacity .5s ease;

      ul#sidebar-buttons {
        justify-content: start;
      }

      height: $v-scr-nav-thickness;
      width: 100vw;
    }

    li.sidebar-link {
        transform: scale(-1);

        @media (orientation: portrait) {
          height: 100%;
          padding: 1.5rem;
          flex-basis: $v-scr-nav-thickness;
        }

        @media (orientation: landscape) {
          height: 6.5rem;
          padding: 0;
          margin: 0;

          &:first-child {
            // it looks better when last element that is touching the
            // viewport edge is padded a little bit more on that side.
            a {
              padding-right: 3.8rem;
            }
          }
        }

        a {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;

            list-style: none;
            cursor: pointer;
            user-select: none;
            text-decoration: none;

            font-size: 3.2rem;

            @media (orientation: landscape) {
              padding: 2rem;
            }

            span.link-text {
              font-family: "Open Sans";

              @media (orientation: landscape) {
                font-size: 2.5rem;
                margin-left: 1.5rem;
                white-space: nowrap;
              }

              @media (orientation: portrait) {
                display: none;
              }
            }

            span.link-icon {
              margin-bottom: -0.75rem;
            }
        }
    }
    .bars {
        position: fixed;
        top: $v-scr-nav-thickness / 2;
        right: 0;
        transform: translateY(-50%);
        height: $v-scr-nav-thickness;
        width: 8rem;
    }
    .bars, .backdrop, .drawer {
        @media (orientation: landscape) {
            display: none;
        }
    }

    @media (orientation: portrait) {
        .backdrop {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .drawer {
            z-index: 1;
            position: fixed;
            right: 1rem;
            top: $v-scr-nav-thickness;
            margin-top: 1rem;
            list-style: none;
            border-radius: 1rem;
            width: 25rem;
            overflow: hidden;
            transition: all .2s ease;
            transform: scale(0);
            opacity: 0;
            transform-origin: right top;
            a {
                display: block;
                font-size: 2.5rem;
                text-transform: uppercase;
                padding: 3rem 2rem;
                font-family: $font-header-primary;
                cursor: pointer;
                &:hover {
                }
            }
        }
        .drawer.drawer-open {
            transform: scale(1);
            opacity: 1;
        }
    }
}


/**
 * Theme and colors.
 */

.NavBar-container {
    background-color: $l-theme--clr--bg--sidebar;
    @media (orientation: landscape) {
      border-right-color: darken($l-theme--clr--bg--sidebar, 4);
    }
    ul#sidebar-buttons-btm {
      button {
        color: $l-theme--clr--txt--sidebar;
      }
    }
    @media (orientation: portrait) {
      border-bottom-color: darken($l-theme--clr--bg--sidebar, 4);
    }
    li.sidebar-link {
        &:hover {
            background-color: $l-theme--clr--bg--sidebar-link;
        }
        a {
            color: $l-theme--clr--txt--sidebar;
            span.link-text {
              @media (orientation: landscape) {
                color: $l-theme--clr--txt--sidebar;
              }
            }
        }
    }
    @media (orientation: portrait) {
        .drawer {
            background-color: $l-theme--clr--bg--sidebar;
            box-shadow: $l-theme--sdw--mbl--menu-box;
            a {
                color: $l-theme--clr--txt--sidebar;
                &:hover {
                    background-color: $l-theme--clr--bg--accent;
                }
            }
        }
    }
}
