.Section-container {
    width: 100%;
    background: linear-gradient(to top, #F5F5F5, #fff);
}

.Section-container h1 {
    margin: 0;
    font-size: 3em;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

.Section-aligner {
    width: 960px;
    padding: 100px 0 40px 0;
    margin: auto;
}