.Section-container {
    width: 100%;
    background: linear-gradient(to top, #F5F5F5, #fff);
    padding: 50px 0;
}

.Section-container h1 {
    margin: 0;
    margin-left: 50px;
    font-size: 3em;
    font-family: 'Header', sans-serif;
}

.Section-aligner {
    width: 65vw;
    margin: auto;
}