@import 'variables';

.Section-container {
    width: 100%;
    background: $primary-white $gradient-section;
    color: $primary-dark;
    .content {
        width: 96rem;
        padding: 10rem 0;
        margin: auto;
    }
    h1 {
        margin: 0 0 8rem 0;
        line-height: 1.1em;
        font-size: 8rem;
        font-family: 'Josefin Sans', sans-serif;
        text-transform: uppercase;
    }
    &.Section-blue {
        background: $accent-primary !important;
        color: $primary-white !important;
        .content {
            padding: 10rem 0;
        }
    }
}