@import '_variables';

@media (orientation: portrait) {
    .ProjCard-container {
        .description {
            padding: 4rem 3rem;

            h3 {
                font-size: 1.75rem;
            }
            > span {
                font-size: 1.3rem;
            }
            .tags {
                font-size: 1.3rem;

                span {
                    padding: .4rem 1.3rem;
                    margin-left: .6rem;
                }
            }
        }
    }

    .ProjCard-container {
        &.l-theme {
            .frontface {
                box-shadow: unset;
                border: $d-theme--border--projcard-frontface;
            }
            .backface {
                box-shadow: unset;
            }
        }

        &.d-theme {
            .frontface {
                box-shadow: unset;
                border: $d-theme--border--projcard-frontface
            }
            .backface {
                box-shadow: unset;
            }
        }
    }
}
