@import '_variables';
@mixin projcard_face {
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    overflow: hidden;
    transition: all .8s ease;
    box-shadow: 0 .2rem 2rem 0 $l-theme--sdw--projcard;
    backface-visibility: hidden;
}

.Card-container {
    position: relative;
    perspective: 150rem;
    height: 100%;
    &:hover {
        & .frontface {
            transform: rotateY(180deg);
        }
        & .backface {
            transform: rotateY(0deg);
        }
    }
    .backface {
        @include projcard_face;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding: 2rem;
        transform: rotateY(-180deg);
        a {
            position: relative;
            display: inline-block;
            padding: 1.6rem 0;
            margin-bottom: 3rem;
            min-width: 24rem;
            border-radius: 8rem;
            font-size: 1.8rem;
            font-family: $font-header-primary;
            font-weight: 400;
            text-decoration: none;
            text-align: center;
            text-transform: uppercase;
            transition: all .2s ease;
            &:hover {
                transform: translateY(-.4rem);
                box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
            }
            &:active {
                transform: translateY(.4rem);
                box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
            }
            &::after {
                content: "";
                display: inline-block;
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: 8rem;
            }
            &:hover::after {
                transition: all .4s ease;
                transform: scaleX(1.2) scaleY(1.6);
                opacity: 0;
            }
        }
    }
    .frontface {
        @include projcard_face;
        display: grid;
        grid-template-rows: 24rem auto;
        text-decoration: none;
        >img {
            min-height: 25rem;
            max-height: 25rem;
            width: 100%;
            object-fit: cover;
            clip-path: polygon(0% 0%, 100% 0%, 100% 92%, 0% 100%);
        }
        .description {
            padding: 4rem;
            text-align: right;
            z-index: 2;
            h3 {
                display: inline-block;
                border-radius: .4rem;
                margin: 0;
                font-family: $font-header-secondary;
                font-size: 2rem;
            }
            >span {
                display: block;
                margin-top: 2rem;
                font-family: $font-paragraph-primary;
                font-size: 1.6rem;
            }
            .tags {
                margin-top: 1rem;
                font-family: $font-header-secondary;
                font-size: 1.6rem;
                span {
                    display: inline-block;
                    padding: .4rem 1.5rem;
                    margin-left: 1rem;
                    margin-top: 1rem;
                    border-radius: .3rem;
                }
            }
        }
        .hint {
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 3rem;
            opacity: .4;
        }
    }
}


/**
 * Themes and colors.
 */

.Card-container {
    .backface {
        background: $l-theme--clr--bg--projcard-backface $l-theme--grd--projcard-backface;
        a {
            color:                $l-theme--clr--txt--regular;
            background-color:     $l-theme--clr--bg--projcard-backface-link;
            &::after {
                background-color: $l-theme--clr--bg--projcard-backface-link;
            }
        }
    }
    .frontface {
        color: $l-theme--clr--txt--regular;
        .description {
            .tags {
                span {
                    background-color: $l-theme--clr--bg--projcard-tag;
                    color:            $l-theme--clr--txt--projcard-tag;
                }
            }
        }
        .hint {
            color: $l-theme--clr--txt--projcard-hint;
        }
    }
}
