@import '_variables';

@media (orientation: portrait) {
    .ProjCard-container {
        .description {
            padding: 4rem 3rem;

            h3 {
                font-size: 2.2rem;
            }
            > span {
                font-size: 1.6rem;
            }
            .tags {
                font-size: 1.5rem;

                span {
                    padding: .4rem 1.3rem;
                    margin-left: .6rem;
                }
            }
        }
    }
}
