@import "_variables";

.Card-face {
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    overflow: hidden;
    backface-visibility: hidden;
}

/**
 * Theme and colors.
 */
.Card-face.flat {
    &.l-theme {
        &.frontface {
            border: $l-theme--brdr--flat-element;
        }
        &.frontface, &.backface {
            box-shadow: unset;
        }
    }
    &.d-theme {
        &.frontface {
            border: $d-theme--brdr--flat-element;
        }
        &.frontface, &.backface {
            box-shadow: unset;
        }
    }
}
