@import "_variables";

.Card-face {
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    overflow: hidden;
    backface-visibility: hidden;
}


/**
 * Theme and colors.
 */

.Card-face {
    &.l-theme {
        box-shadow: $l-theme--sdw--card;
        &.frontface {
            background: $l-theme--clr--bg--card-frontface;
            color: $l-theme--clr--txt--regular;

            a, a:link, a:visited {
                color: $l-theme--clr--txt--regular;
            }
        }
        &.backface {
            background: $l-theme--clr--bg--card-backface $l-theme--grd--card-backface;
        }
    }
    &.d-theme {
        box-shadow: $d-theme--sdw--card;
        &.frontface {
            background: $d-theme--clr--bg--card-frontface;
            color: $d-theme--clr--txt--regular;

            a, a:link, a:visited {
                color: $d-theme--clr--txt--regular;
            }
        }
        &.backface {
            background: $d-theme--clr--bg--card-backface $d-theme--grd--card-backface;
        }
    }
}

.Card-face.flat {
    &.l-theme {
        box-shadow: unset;
        &.frontface {
            border: $l-theme--brdr--flat-element;
        }
    }
    &.d-theme {
        box-shadow: unset;
        &.frontface {
            border: $d-theme--brdr--flat-element;
        }
    }
}
