$color-primary-dark: #212121;
$color-primary-white: white;
$color-accent-primary: #487eb0;
$color-accent-secondary: #40739e;
$color-accent-dark: #313131;
$color-youtube-link: #d22d2d;
$color-github-link: #1f6b1f;

$gradient-front-page: linear-gradient(to top, rgba(47, 54, 64, 0.95), rgba(72, 126, 176, 0.68));
$gradient-section: linear-gradient(to top, #F5F5F5, #fff);

$background: url(../../images/mountains.jpg);
$card-box-shadow: rgba(0, 0, 0, 0.15);

$font-header-primary: 'Josefin Sans', sans-serif;
$font-header-secondary: 'Montserrat', sans-serif;
$font-paragraph-primary: 'Open Sans', sans-serif;