$primary-dark: #212121;
$primary-white: #eee;

$accent-secondary: #40739e;
$accent-primary: #487eb0;
$accent-dark: #313131;

$gradient-front-page: linear-gradient(to top, rgba(47, 54, 64, 0.95), rgba(72, 126, 176, 0.68));
$gradient-section: linear-gradient(to top, #F5F5F5, #fff);

$background: url(../../images/mountains.jpg);