@import 'themes/light.scss';
@import 'themes/dark.scss';

$font-header-primary: 'Josefin Sans', sans-serif;
$font-header-secondary: 'Montserrat', sans-serif;
$font-paragraph-primary: 'Open Sans', sans-serif;

$section--padding--top: 10rem;
$navbar--thickness: 5.5rem;
