.App-container {
    .blinds {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: white;
        z-index: 5;
        animation: fadeOut .5s ease-out 1s;
        animation-fill-mode: forwards;
        pointer-events: none;
    }
    @keyframes fadeOut {
        100% {
            opacity: 0;
        }
    }
}