body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@font-face {
  font-family: 'Header';
  src: url(./fonts/encode-thin.ttf) format('truetype');
}

@font-face {
  font-family: 'Paragraph';
  src: url(./fonts/dustismo.ttf) format('truetype');
}
