@import url('https://fonts.googleapis.com/css?family=Montserrat:400|Open+Sans:300|Josefin+Sans:100,300,400');
@import 'variables';

html {
    /**
     * Setting the root font-size relative to the viewport width makes the layout
     * 'stretchy', since sizes of all elements on the website are set with 'rems'.
     */
    @media (orientation: landscape) {
        /**
         * Do not apply 'stretchy' layout for screens above Full-HD, since it could be a 32:9 screen,
         * or a high-res retina screen where people often have zoom-in setting cranked up in their browsers.
         */
        font-size: 9px;
        @media (max-width: 1800px) {
            font-size: 8px;
        }
        @media (max-width: 1500px) {
            font-size: 7px;
        }
        @media (max-width: 1200px) {
            font-size: 6px;
        }
        @media (max-width: 900px) {
            font-size: 5px;
        }
        @media (max-width: 600px) {
            /**
             * If for whatewer reason webpage is viewed in landscape mode with width smaller that 600px,
             * (could be a zoom-in side effect) switch to 'stretchy' mode to avoid blowout of page elements.
             */
            font-size: .8vw;
        }
    }
    /**
     * Switch to 'stretchy' layout when in portrait mode to keep proportion ratios of all elements
     * the same across all kinds of screen sizes of all sorts of mobile devices.
     */
    @media (orientation: portrait) {
        font-size: 2vw;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}
