@import url('https://fonts.googleapis.com/css?family=Montserrat:400|Open+Sans:300|Josefin+Sans:100,300,400');
@import 'variables';

html {
    /**
     * Setting the root font-size relative to the viewport width makes the layout
     * 'stretchy', since sizes of all elements on the website are set with 'rems'.
     */
    @media (orientation: landscape) {
        font-size: .45vw;
        // but zooming should work too:
        @media (max-width: 1800px) {
            font-size: .50vw;
        }
        @media (max-width: 1200px) {
            font-size: .55vw;
        }
        @media (max-width: 900px) {
            font-size: .575vw;
        }
        @media (max-width: 750px) {
            // back to 'stretchy' mode:
            font-size: .6vw;
        }
    }
    @media (orientation: portrait) {
        font-size: 2vw;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}
