@import '_variables';

$border-radius: 80rem;

.BigButton-container {
    button {
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 6.5rem;
        padding: 0 6rem;
        height: 5.5rem;
        min-width: 24rem;
        border-radius: $border-radius;
        font-size: 1.8rem;
        font-family: $font-header-primary;
        font-weight: 400;
        text-transform: uppercase;
        transition: all .2s ease;
        border: 0; outline: none;

        &::-moz-focus-inner {
            border: 0;
        }

        &:active {
            transform: translateY(.4rem);
        }
        
        &::after {
            content: "";
            display: inline-block;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            border-radius: $border-radius;
        }
        
        &:hover::after {
            transition: all .4s ease;
            transform: scaleX(1.2) scaleY(1.6);
            opacity: 0;
        }
    }
}

/**
 * Theme and colors
 */

.BigButton-container {
    &.l-theme {
        button {
            color:                $l-theme--clr--txt--bigbutton;
            background-color:     $l-theme--clr--bg--bigbutton;
            &::after {
                background-color: $l-theme--clr--bg--bigbutton-ripple;
            }
            &.show-shadow {
                box-shadow: $l-theme--sdw--bigbutton--initial;
            }
            &:hover {
                box-shadow: $l-theme--sdw--bigbutton--onhover;
            }
            &:active {
                box-shadow: $l-theme--sdw--bigbutton--pressed; 
            }
        }
    }
    &.d-theme {
        button {
            color:                $d-theme--clr--txt--bigbutton;
            background-color:     $d-theme--clr--bg--bigbutton;
            &::after {
                background-color: $d-theme--clr--bg--bigbutton-ripple;
            }
            &.show-shadow {
                box-shadow: $d-theme--sdw--bigbutton--initial;
            }
            &:hover {
                box-shadow: $d-theme--sdw--bigbutton--onhover;
            }
            &:active {
                box-shadow: $d-theme--sdw--bigbutton--pressed; 
            }
        }
    }
}
