.container {
    height: 100%;
    width: 100%;
}

.container img.background {
    position: fixed;
    z-index: -50;
    top: -3%;
    left: -3%;
    width: 106%;
    height: 106%;
    object-fit: cover;
    filter: blur(5px) brightness(50%);
    backface-visibility: hidden;
}

.container .grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 80% 20%;
}

.container img.widget {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 95%;
    height: 95%;
    margin: 5% 0 0 5%;
    object-fit: cover;
    box-shadow: 0 0 25px black;
}

.description {
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: end;
    text-align: right;
    color: #eee;
    margin: 25px;
}

.description p {
    font-family: 'Paragraph', sans-serif;
    font-size: 1.1em;
    pointer-events: none;
}

.description .header {
    font-family: 'Header', sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    margin: 0;
    pointer-events: none;
}

.description a {
    font-family: 'Paragraph', sans-serif;
    color: #eee;
    text-decoration: none;
    background-color: green;
    padding: 4px 32px;
    border-radius: 4px;
}

.description .tag {
    display: inline-block;
    font-family: 'Paragraph', sans-serif;
    color: #eee;
    background-color: darkcyan;
    padding: 4px 32px;
    margin: 0 0 15px 5px;
    border-radius: 4px;
    pointer-events: none;
}

@font-face {
    font-family: 'Header';
    src: url(../../../fonts/steelfishrg.ttf) format('truetype');
}

@font-face {
    font-family: 'Paragraph';
    src: url(../../../fonts/dustismo.ttf) format('truetype');
}