.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vmax;

    font-family: Arial, Helvetica, sans-serif;
}

.container p {
    order: 0;
    flex-basis: 45vw;
    padding: 0 2vw;

    color: #eee;
    text-align: right;
}

.container .header {
    font-weight: bold;
}

.container img {
    order: 1;

    width: 45vmax;
    height: 25vmax;
    padding: 0 2vw;

    object-fit: cover;
}