.Link-container {
  flex-basis: 50%;
  margin: 2rem 0;
  font-size: 2.72rem;
  font-family: 'Open Sans', sans-serif; }

.Link-container > a {
  text-decoration: none;
  color: #eee; }

.Link-container > a > span {
  margin-left: 1rem;
  font-size: 2.4rem; }

.Link-container > a:hover {
  color: #212121; }
