@import '_variables';

.Section-container {
    position: relative; // for gradient shadow box
    width: 100%;
    background: $color-primary-white;
    color: $color-primary-dark;
    transition: all .5s;

    .gradient-shadow {
        background: $gradient-section;
        width: 100%;
        height: 100%;
        position: absolute; // get out of the regular element flow
        top: 0;
        left: 0;
        pointer-events: none;
    }

    .content {
        position: relative; // to create new z-context
        width: 96rem;
        @media (orientation: portrait) {
            width: 100%;
        }
        padding: 10rem 0;
        margin: 0 auto;
    }

    h1 {
        margin: 0 0 8rem 0;
        line-height: 1.1em;
        font-size: 8rem;
        @media (orientation: portrait) {
            font-size: 6rem;
            margin-left: 2rem;
            margin-right: 2rem;
        }
        font-family: $font-header-primary;
        text-transform: uppercase;
    }

    &.blue {
        background: $color-accent-primary !important;
        color: $color-primary-white !important;
        .content {
            padding: 10rem 0;
        }
    }

    &.dark {
        background: grey !important;
        color: $color-primary-white !important;
        .content {
            padding: 10rem 0;
        }
    }
}
