.container {
    display: grid;
    grid-template-columns: 50px auto;
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

img.background {
    position: fixed;
    z-index: -50;
    top: -3%;
    left: -3%;
    width: 106%;
    height: 106%;
    object-fit: cover;
    filter: blur(5px) brightness(50%);
}

.arrowLeft,
.arrowRight {
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 2em;
}

.arrowLeft {
    grid-column: 1/2;
}

.arrowRight {
    grid-column: 3/4;
}

.navtop,
.navbottom {
    grid-column: 1/4;
    align-self: center;
    
    display: flex;
    justify-content: center;
    align-content: center;
}

.navtop {
    grid-row: 1/2;
}

.navbottom {
    grid-row: 3/4;
}